@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\000031}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\000036}}
html {
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\0000310}}
.pu-Logo {
  display: block;
  opacity: 0.2;
  margin: 10em auto;
}
