@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\000031}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\000036}}
html {
  background: #eeeeee;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\0000312}}
.pu-Logo {
  display: block;
  margin: auto;
  opacity: 0.2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\0000318}}
.pu-Links {
  text-align: center;
  opacity: 0.2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MoOx\/BTSync\/Development\/putaindecode\/website\/build\/assets\/_css\/putaindecode\.scss}line{font-family:\0000321}}
.pu-Links a {
  color: #333333;
}
