/** @define Grid */

/*! suitcss-components-grid v1.2.0 | MIT License | github.com/suitcss */



/**
 * Core grid component
 *
 * DO NOT apply dimension or offset utilities to the `Grid` element. All cell
 * widths and offsets should be applied to child grid cells.
 *
 * Example uses:
 *
 * <div class="Grid [Grid--alignCenter|Grid--alignRight|Grid--withGutter]">
 *   <div class="Grid-cell [Grid-cell--center] u-size1of2"></div>
 *   <div class="Grid-cell u-size1of2"></div>
 *   <div class="Grid-cell u-size1of3"></div>
 *   <div class="Grid-cell u-size1of3"></div>
 * </div>
 */

/* Grid container
   ========================================================================== */

/**
 * All content must be contained within child `Grid-cell` elements.
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Remove inter-cell whitespace that appears between `inline-block` child
 *    elements.
 * 3. Ensure consistent default alignment.
 */

.Grid {
  display: block;
  /* 1 */
  font-size: 0;
  /* 2 */
  margin: 0;
  /* 1 */
  padding: 0;
  /* 1 */
  text-align: left;
  /* 3 */
}

/**
 * Modifier: center align all grid cells
 */

.Grid--alignCenter {
  text-align: center;
}

/**
 * Modifier: right align all grid cells
 */

.Grid--alignRight {
  text-align: right;
}

/**
 * Modifier: middle-align grid cells
 */

.Grid--alignMiddle > .Grid-cell {
  vertical-align: middle;
}

/**
 * Modifier: bottom-align grid cells
 */

.Grid--alignBottom > .Grid-cell {
  vertical-align: bottom;
}

/**
 * Modifier: gutters
 *
 * NOTE: this can trigger a horizontal scrollbar if the component is as wide as
 * the viewport. Use padding on a container, or `overflow-x:hidden` to protect
 * against it.
 */

.Grid--withGutter {
  margin: 0 -webkit-calc(-0.5px * 1.5625rem);
  margin: 0 calc(-0.5px * 1.5625rem);
}

.Grid--withGutter > .Grid-cell {
  padding: 0 -webkit-calc(0.5px * 1.5625rem);
  padding: 0 calc(0.5px * 1.5625rem);
}

/* Grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `Grid-cell` with a dimension
 * utility or a component class that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout.
 * 2. Reset font size change made in `Grid`.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Controls vertical positioning of units.
 * 5. Make cells full-width by default.
 */

.Grid-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  /* 1 */
  font-size: 1rem;
  /* 2 */
  margin: 0;
  padding: 0;
  text-align: left;
  /* 3 */
  vertical-align: top;
  /* 4 */
  width: 100%;
  /* 5 */
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `Grid` object.
 */

.Grid-cell--center {
  display: block;
  margin: 0 auto;
}

/* Intrinsic widths
   ========================================================================== */

/**
 * Make an element shrink wrap its content.
 */

.u-sizeFit,
.u-sizeFitAlt {
  display: block !important;
  float: left !important;
  width: auto !important;
}

.u-sizeFitAlt {
  float: right !important;
}

/**
 * Make an element fill the remaining space.
 * N.B. This will hide overflow.
 */

.u-sizeFill {
  display: block !important;
  overflow: hidden !important;
  width: auto !important;
}

/**
 * An alternative method to make an element fill the remaining space.
 * N.B. Do not use if child elements might be wider than the remaining space.
 * In Chrome, Safari, and Firefox it results in undesired layout.
 */

.u-sizeFillAlt {
  display: table-cell !important;
  max-width: 100% !important;
  width: 10000px !important;
}

/**
 * Make an element the width of its parent.
 */

.u-sizeFull {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: block !important;
  width: 100% !important;
}

/* Proportional widths
   ========================================================================== */

/**
 * Specify the proportional width of an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
 */

.u-size1of12 {
  width: 8.333333333333332% !important;
}

.u-size1of10 {
  width: 10% !important;
}

.u-size1of8 {
  width: 12.5% !important;
}

.u-size1of6,
.u-size2of12 {
  width: 16.666666666666664% !important;
}

.u-size1of5,
.u-size2of10 {
  width: 20% !important;
}

.u-size1of4,
.u-size2of8,
.u-size3of12 {
  width: 25% !important;
}

.u-size3of10 {
  width: 30% !important;
}

.u-size1of3,
.u-size2of6,
.u-size4of12 {
  width: 33.33333333333333% !important;
}

.u-size3of8 {
  width: 37.5% !important;
}

.u-size2of5,
.u-size4of10 {
  width: 40% !important;
}

.u-size5of12 {
  width: 41.66666666666667% !important;
}

.u-size1of2,
.u-size2of4,
.u-size3of6,
.u-size4of8,
.u-size5of10,
.u-size6of12 {
  width: 50% !important;
}

.u-size7of12 {
  width: 58.333333333333336% !important;
}

.u-size3of5,
.u-size6of10 {
  width: 60% !important;
}

.u-size5of8 {
  width: 62.5% !important;
}

.u-size2of3,
.u-size4of6,
.u-size8of12 {
  width: 66.66666666666666% !important;
}

.u-size7of10 {
  width: 70% !important;
}

.u-size3of4,
.u-size6of8,
.u-size9of12 {
  width: 75% !important;
}

.u-size4of5,
.u-size8of10 {
  width: 80% !important;
}

.u-size5of6,
.u-size10of12 {
  width: 83.33333333333334% !important;
}

.u-size7of8 {
  width: 87.5% !important;
}

.u-size9of10 {
  width: 90% !important;
}

.u-size11of12 {
  width: 91.66666666666666% !important;
}



html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

:root {
  /* not rem so you can use .small in .small */
}

body {
  font-size: 1rem;
  line-height: 1.5625rem;
}

p,
ul {
  margin: 1.5625rem 0;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1.5625rem;
}

h1,
h2 {
  line-height: 3.125rem;
}

h3,
h4 {
  padding-top: 0.625rem;
  padding-bottom: 0.9375rem;
  line-height: 1.5625rem;
}

h1 {
  font-size: 2.074rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.2rem;
}

small {
  font-size: 0.833em;
}



::-moz-selection {
  background: #444;
  color: #fff;
}



::selection {
  background: #444;
  color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: 0;
}



.Grid {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:54em) {
  .Grid {
    width: auto;
  }

  .Grid-cell {
    width: auto !important;
    display: block !important;
  }
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('eot'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg');
}

.putainde-Icon {
  display: inline-block;
  vertical-align: middle;
}

.putainde-Icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.putainde-Icon--bookmark:before {
  content: "\E001";
}

.putainde-Icon--github:before {
  content: "\E002";
}

.putainde-Icon--pencil:before {
  content: "\E003";
}

.putainde-Icon--text-file:before {
  content: "\E004";
}

.putainde-Icon--twitter:before {
  content: "\E005";
}

.putainde-Icon--world:before {
  content: "\E006";
}

.AttrTip {
  position: relative;
  display: inline-block;
}

.AttrTip::before,
.AttrTip::after {
  z-index: 1000;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.AttrTip:hover::before,
.AttrTip:hover::after,
.AttrTip:focus::before,
.AttrTip:focus::after {
  visibility: visible;
  opacity: 1;
}

.AttrTip::before {
  z-index: 10001;
  content: "";
  position: absolute;
  border: 6px solid transparent;
  background: transparent;
}

.AttrTip::after {
  content: attr(data-tip);
  font-size: 12px;
  line-height: 12px;
  padding: 8px 10px;
  white-space: nowrap;
  color: #fff;
  background: #383838;
  text-shadow: 0 -1px 0 #000;
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  border-radius: 2px;
}

.AttrTip--top::before {
  border-top-color: #383838;
}

.AttrTip--bottom::before {
  border-bottom-color: #383838;
}

.AttrTip--left::before {
  border-left-color: #383838;
}

.AttrTip--right::before {
  border-right-color: #383838;
}

.AttrTip--top::before {
  margin-bottom: -12px;
}

.AttrTip--top::before,
.AttrTip--top::after {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.AttrTip--top:hover::after,
.AttrTip--top:hover::before,
.AttrTip--top:focus::after,
.AttrTip--top:focus::before {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -ms-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

.AttrTip--bottom::before {
  margin-top: -12px;
}

.AttrTip--bottom::before,
.AttrTip--bottom::after {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.AttrTip--bottom:hover::after,
.AttrTip--bottom:hover::before,
.AttrTip--bottom:focus::after,
.AttrTip--bottom:focus::before {
  -webkit-transform: translateX(-50%) translateY(8px);
  -ms-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

.AttrTip--right::before {
  margin-left: -12px;
  margin-bottom: -6px;
}

.AttrTip--right::before,
.AttrTip--right::after {
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.AttrTip--right:hover::after,
.AttrTip--right:hover::before,
.AttrTip--right:focus::after,
.AttrTip--right:focus::before {
  -webkit-transform: translateX(8px) translateY(-50%);
  -ms-transform: translateX(8px) translateY(-50%);
  transform: translateX(8px) translateY(-50%);
}

.AttrTip--left::before {
  margin-right: -12px;
  margin-bottom: -6px;
}

.AttrTip--left::before,
.AttrTip--left::after {
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.AttrTip--left:hover::after,
.AttrTip--left:hover::before,
.AttrTip--left:focus::after,
.AttrTip--left:focus::before {
  -webkit-transform: translateX(-8px) translateY(-50%);
  -ms-transform: translateX(-8px) translateY(-50%);
  transform: translateX(-8px) translateY(-50%);
}

.AttrTip--error::after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0 #592726;
}

.AttrTip--error.AttrTip--top::before {
  border-top-color: #b34e4d;
}

.AttrTip--error.AttrTip--bottom::before {
  border-bottom-color: #b34e4d;
}

.AttrTip--error.AttrTip--left::before {
  border-left-color: #b34e4d;
}

.AttrTip--error.AttrTip--right::before {
  border-right-color: #b34e4d;
}

.AttrTip--warning::after {
  background-color: #c09854;
  text-shadow: 0 -1px 0 #6c5328;
}

.AttrTip--warning.AttrTip--top::before {
  border-top-color: #c09854;
}

.AttrTip--warning.AttrTip--bottom::before {
  border-bottom-color: #c09854;
}

.AttrTip--warning.AttrTip--left::before {
  border-left-color: #c09854;
}

.AttrTip--warning.AttrTip--right::before {
  border-right-color: #c09854;
}

.AttrTip--info::after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0 #193b4d;
}

.AttrTip--info.AttrTip--top::before {
  border-top-color: #3986ac;
}

.AttrTip--info.AttrTip--bottom::before {
  border-bottom-color: #3986ac;
}

.AttrTip--info.AttrTip--left::before {
  border-left-color: #3986ac;
}

.AttrTip--info.AttrTip--right::before {
  border-right-color: #3986ac;
}

.AttrTip--success::after {
  background-color: #458746;
  text-shadow: 0 -1px 0 #1a321a;
}

.AttrTip--success.AttrTip--top::before {
  border-top-color: #458746;
}

.AttrTip--success.AttrTip--bottom::before {
  border-bottom-color: #458746;
}

.AttrTip--success.AttrTip--left::before {
  border-left-color: #458746;
}

.AttrTip--success.AttrTip--right::before {
  border-right-color: #458746;
}

.AttrTip--always::before,
.AttrTip--always::after {
  visibility: visible;
  opacity: 1;
}

.AttrTip--always.AttrTip--top::before,
.AttrTip--always.AttrTip--top::after {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -ms-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px);
}

.AttrTip--always.AttrTip--bottom::before,
.AttrTip--always.AttrTip--bottom::after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -ms-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px);
}

.AttrTip--always.AttrTip--left::before,
.AttrTip--always.AttrTip--left::after {
  -webkit-transform: translateX(-8px) translateY(-50%);
  -ms-transform: translateX(-8px) translateY(-50%);
  transform: translateX(-8px) translateY(-50%);
}

.AttrTip--always.AttrTip--right::before,
.AttrTip--always.AttrTip--right::after {
  -webkit-transform: translateX(8px) translateY(-50%);
  -ms-transform: translateX(8px) translateY(-50%);
  transform: translateX(8px) translateY(-50%);
}



.putainde-Header {
  background: #c33;
  background: -webkit-gradient(linear, left top, left bottom, from(#c33), color-stop(10%, #c33));
  background: -webkit-linear-gradient(top, #c33, #c33 10%);
  background: linear-gradient(to bottom, #c33, #c33 10%);
  line-height: 3.125rem;
}

@media (max-width:54em) {
  .putainde-Header .Grid-cell {
    text-align: center;
  }
}

.putainde-SiteTitle {
  position: relative;
  display: inline-block;
  padding: 0 0 0 3.625rem;
  text-decoration: none;
}

@media (min-width: 54em) {
  .putainde-SiteTitle {
    padding: 0 0 0 5.6875rem;
  }
}

.putainde-SiteTitle span {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-width:54em) {
  .putainde-SiteTitle {
    font-size: 0.833em;
  }
}

.putainde-Logo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2.625rem;
  height: 2.625rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 54em) {
  .putainde-Logo {
    width: 4.6875rem;
    height: 4.6875rem;
  }
}

.putainde-SiteTitle:hover .putainde-Logo {
  -webkit-transform: translateY(-50%) rotate(-2deg) scale(1.2);
  -ms-transform: translateY(-50%) rotate(-2deg) scale(1.2);
  transform: translateY(-50%) rotate(-2deg) scale(1.2);
}

@media (min-width:54em) {
  .putainde-Nav {
    text-align: right;
  }
}

.putainde-Nav-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 0.833em;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 0 0.4rem;
}

.putainde-Nav-item:hover,
.putainde-Nav-item:focus {
  background: rgba(0,0,0,0.1);
}

@media (min-width:29em) {
  .putainde-Nav-item {
    padding: 0 1rem;
  }
}

.putainde-Nav-item--current:after {
  content: "";
  position: absolute;
  bottom: 0.8em;
  height: 0.3em;
  width: 0.3em;
  background: #fff;
  -webkit-box-shadow: 0 0 0.3em #fff;
  box-shadow: 0 0 0.3em #fff;
  border-radius: 0.3em;
  left: 50%;
  margin-left: -0.15em;
}

.putainde-Nav .putainde-Nav-item .putainde-Icon {
  opacity: 0.6;
}

.putainde-Nav .putainde-Nav-item--icon .putainde-Icon {
  opacity: 0.4;
}

.putainde-Nav .putainde-Nav-item--icon:hover .putainde-Icon {
  opacity: 0.6;
}

.putainde-Nav .putainde-Nav-item:not(.putainde-Nav-item--icon) + .putainde-Nav-item--icon {
  margin-left: 1rem;
}

.putainde-Nav .putainde-Icon {
  font-size: 1.2rem;
}

@media (max-width:29em) {
  .putainde-Nav :not(.AttrTip) .putainde-Icon {
    display: none;
  }
}

.putainde-List-item {
  position: relative;
  padding: 0 0 0 4.6875rem;
}

@media (max-width:28em) {
  .putainde-List-item {
    padding: 0 0 0 4rem;
  }
}

.putainde-List-item:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-top: -1px;
}

.putainde-List-item--link {
  border: none;
  min-height: 0;
  text-align: center;
  padding: 0;
  margin-bottom: 1.5625rem;
}

.putainde-List-item--link a {
  color: #c33;
  line-height: 3.125rem;
  display: block;
  text-decoration: none;
  border: 1px solid transparent;
  margin: -1px 0;
  border-radius: 0.2em;
}

.putainde-List-item--link a:hover,
.putainde-List-item--link a:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafafa));
  background: -webkit-linear-gradient(top, #fff, #fafafa);
  background: linear-gradient(to bottom, #fff, #fafafa);
  border-color: #ddd;
}

.putainde-List-item--link a:active {
  border-color: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fff));
  background: -webkit-linear-gradient(top, #f0f0f0, #fff);
  background: linear-gradient(to bottom, #f0f0f0, #fff);
}

.putainde-List-item--hidden {
  height: 0;
  padding: 0;
  border: none;
  min-height: 0;
  overflow: hidden;
}

.putainde-List-authorPicture {
  position: absolute;
  top: 0.78125rem;
  left: 0;
  width: 3.125rem;
}

.putainde-Message {
  font-size: 2.074rem;
  line-height: 10rem;
  color: #ccc;
  text-align: center;
  font-weight: 700;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

.putainde-Message--hidden {
  display: none;
}

.putainde-List-title {
  color: #444;
  text-decoration: none;
  display: block;
  margin: 0;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.44rem;
  padding-top: 0.625rem;
  padding-bottom: 0.9375rem;
  line-height: 1.5625rem;
}

.putainde-Tags {
  list-style-type: none;
  margin: 0;
  padding: 0 0 1.5625rem;
}

.putainde-Tag {
  display: inline-block;
  background: #fdfdfd;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.03);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.03);
  padding: 0 1em;
  margin-right: 0.2rem;
  font-size: 0.833em;
  line-height: 1.6;
  border-radius: 1em;
}

.putainde-List-author {
  position: absolute;
  color: #888;
  font-size: 0.833em;
  line-height: 1rem;
  bottom: 1.2rem;
  right: 0;
  text-align: right;
}

@media (max-width:34em) {
  .putainde-List-author {
    text-align: left;
    position: static;
    margin: 0 0 1.5625rem;
  }
}

.putainde-List-author a {
  font-weight: 700;
  text-decoration: none;
  color: #666;
}

.putainde-List-author time {
  font-size: 0.833em;
}

.putainde-Post {
  text-align: center;
  padding: 0 1.5625rem;
}

.putainde-Title {
  color: #222;
  z-index: 3;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, #fff 60%, rgba(255,255,255,0));
  background: linear-gradient(to bottom, #fff 60%, rgba(255,255,255,0));
}

.putainde-Title--home {
  text-align: center;
}

.putainde-Title-authorPicture {
  position: absolute;
  width: 3em;
  left: -4.5em;
  top: 50%;
  margin-top: -1.5em;
}

.putainde-Title-text {
  font-weight: 400;
}

.putainde-Post-metas {
  display: inline-block;
  font-size: 0.833em;
  color: #999;
}

.putainde-Post-readingTime {
  -webkit-animation: ReadingTimeAppear 0.3s ease-in-out;
  animation: ReadingTimeAppear 0.3s ease-in-out;
}

.putainde-Post-readingTime--hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

.putainde-Post-contents {
  text-align: left;
  color: #444;
}

.putainde-Post-contents a {
  color: #c33;
  text-decoration: none;
}

.putainde-Post-contents a:hover,
.putainde-Post-contents a:focus {
  text-decoration: underline;
}

.putainde-Post-md ul,
.putainde-Post-md ol {
  padding: 0 0 0 1.75em;
}

.putainde-Post-md tt,
.putainde-Post-md code,
.putainde-Post-md pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.putainde-Post-md pre {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  overflow: auto;
  margin: 1.5625rem 0;
  padding: 0.78125rem;
  line-height: 1.171875rem;
  font-size: 0.833em;
  color: #444;
  font-weight: 400;
  border: 1px solid #ddd;
  background: #fafafa;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0 0 0 0.25em rgba(0,0,0,0.02);
  box-shadow: inset 0 0 0 0.25em rgba(0,0,0,0.02);
}

.putainde-Post-md pre code {
  display: block;
  background: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  vertical-align: baseline;
}

.putainde-Post-md code {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ddd;
  margin: -1px 0;
  padding: 0 0.5em;
  font-size: 0.833em;
  font-weight: 400;
  background: #fafafa;
  border-radius: 0.25em;
}

.putainde-Post-md .hljs-string,
.putainde-Post-md .hljs-number,
.putainde-Post-md .hljs-tag .hljs-value {
  color: #cf1d58;
}

.putainde-Post-md .hljs-keyword {
  color: #000;
}

.putainde-Post-md .hljs-comment,
.putainde-Post-md .hljs-doctype,
.putainde-Post-md .hljs-preprocessor {
  color: #999;
}

.putainde-Post-md .hljs-class,
.putainde-Post-md .hljs-title {
  color: #2c4379;
}

.putainde-Post-md .hljs-attribute {
  color: #49629a;
}

.putainde-Post-md .hljs-value {
  color: #2e4f89;
}

.putainde-Post-md h1,
.putainde-Post-md h2,
.putainde-Post-md h3,
.putainde-Post-md h4,
.putainde-Post-md h5,
.putainde-Post-md h6 {
  position: relative;
}

.putainde-Post-md h1:hover .putainde-Title-anchor,
.putainde-Post-md h2:hover .putainde-Title-anchor,
.putainde-Post-md h3:hover .putainde-Title-anchor,
.putainde-Post-md h4:hover .putainde-Title-anchor,
.putainde-Post-md h5:hover .putainde-Title-anchor,
.putainde-Post-md h6:hover .putainde-Title-anchor {
  opacity: 1;
}

.putainde-Post-md .putainde-Title-anchor {
  position: absolute;
  left: -1em;
  width: 1em;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  color: #999;
}

.putainde-Post-md img {
  max-width: 100%;
  height: auto;
}

.putainde-Post-md p img:only-child {
  margin: 1em 0;
}

.putainde-Post-md figure {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 0 1px #eee;
  box-shadow: 0 0 0 1px #eee;
  margin: 0 auto 1.5625rem;
  overflow: hidden;
  border-radius: 0.3em;
  display: block;
  line-height: 0.8;
  text-align: center;
}

.putainde-Post-md figcaption {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 0;
  display: block;
  background: #fafafa;
  line-height: 3.125rem;
  border-top: 1px solid #eee;
  margin-top: -1px;
}

.putainde-Post-md blockquote {
  color: #888;
  margin: 0 0 0 1em;
  padding: 0 2em 0 1em;
  border-left: 0.25em solid #888;
}

.putainde-Post-md hr {
  border: none;
  border-top: 0.225em solid #eee;
  margin-top: -0.225em;
}

.putainde-Post-md table {
  border-collapse: collapse;
  border: 1px solid #eee;
  border-radius: 0.225em;
}

.putainde-Post-md td,
.putainde-Post-md th {
  padding: 0.5em 1em;
  border-left: 1px solid #eee;
}

.putainde-Post-md tr {
  border-bottom: 1px solid #eee;
}

.putainde-Post-md thead {
  background: #fafafa;
}

.putainde-Post-md .putainde-Media--left {
  float: left;
  margin-right: 1rem;
}

.putainde-Post-md .putainde-Media--right {
  float: right;
  margin-left: 1rem;
}

.putainde-Networks {
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: -1px;
  padding: 1.5625rem 0;
  line-height: 3.125rem;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.putainde-Networks * {
  vertical-align: top;
}

.putainde-Network {
  display: inline-block;
  font-size: 2.074em;
  padding: 0 0.2em;
}

.putainde-Post-footer {
  margin: 3.125rem 0;
  -webkit-box-shadow: inset 0 1px 0 0 #ebeef0;
  box-shadow: inset 0 1px 0 0 #ebeef0;
}

.putainde-Post-footer-title {
  color: #999;
}

.putainde-Post-footer-title,
.putainde-Post-footer-action {
  font-size: 0.833em;
}

@media (min-width: 54em) {
  .putainde-Post-footer .u-size1of3 + .u-size1of3 {
    text-align: center;
  }

  .putainde-Post-footer .u-size1of3 + .u-size1of3 + .u-size1of3 {
    text-align: right;
  }
}

#disqus_thread {
  margin: 3.125rem 0 1.5625rem;
}

@-webkit-keyframes ReadingTimeAppear {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes ReadingTimeAppear {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ReadingTimeAppear {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}



.putainde-Avatar {
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 1px #ebeef0;
  box-shadow: 0 0 0 1px #ebeef0;
}

.putainde-Author {
  position: relative;
  padding: 0 0 0 7em;
  margin: 1.5625rem 0;
}

@media (max-width:28em) {
  .putainde-Author {
    padding-left: 4em;
  }
}

.putainde-Author--author {
  padding: 0 0 0 5.6875rem;
}

@media (max-width:28em) {
  .putainde-Author--author {
    padding-left: 4em;
  }
}

.putainde-Author-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 4.6875rem;
}

@media (max-width:28em) {
  .putainde-Author-picture {
    height: 3.125rem;
  }
}

.putainde-Author-title {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: -1px;
  position: relative;
}

.putainde-Author-name {
  color: #222;
  margin: 0;
}

.putainde-WrittenBy {
  color: rgba(68,68,68,0.6);
}

.putainde-Author-social {
  position: absolute;
  top: 0.5em;
  right: 0;
  background: #fafafa;
  border-radius: 2em;
  overflow: hidden;
}

@media (max-width:28em) {
  .putainde-Author-social {
    position: static;
    display: inline-block;
  }
}

.putainde-Author-social a {
  color: #444;
  display: inline-block;
  padding: 0.2em 1em;
}

@media (max-width:28em) {
  .putainde-Author-social a {
    font-size: 1em;
  }
}

.putainde-Author-social a:hover,
.putainde-Author-social a:focus {
  background: #eee;
}

.putainde-Author-description {
  font-size: 0.925em;
  color: #444;
}

.putainde-Author--author .putainde-Author-description {
  font-size: 0.833rem;
}



.putainde-Contributors {
  -webkit-box-shadow: inset 0 1px 0 0 #ebeef0;
  box-shadow: inset 0 1px 0 0 #ebeef0;
  margin: 3.125rem 0;
  line-height: 3.125rem;
}

.putainde-Contributors-label {
  font-size: 0.833em;
  display: inline-block;
}

.putainde-Contributor {
  margin-left: 1rem;
  display: inline-block;
}

.putainde-Contributor-avatar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.putainde-Main {
  margin: 1.5625rem 0;
}

.putainde-Section {
  text-align: center;
  margin: 1.5625rem auto;
}

.putainde-Section-contents {
  text-align: left;
}

.putainde-Section--manifesto {
  background: #fafafa;
  padding: 1.5625rem;
}

.putainde-Section--manifesto .putainde-Title {
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fafafa), to(rgba(250,250,250,0)));
  background: -webkit-linear-gradient(top, #fafafa 60%, rgba(250,250,250,0));
  background: linear-gradient(to bottom, #fafafa 60%, rgba(250,250,250,0));
}

.putainde-Column {
  text-align: left;
  padding: 0 2em;
}

@media (max-width:54em) {
  .putainde-Column {
    padding: 0.5em;
  }
}

.putainde-Column-title {
  font-size: 1.275em;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: #444;
  text-decoration: none;
  display: block;
  padding: 0;
}

.putainde-Label {
  cursor: pointer;
  display: block;
  padding: 0 0 0.4921875rem;
}

.putainde-Label input {
  margin-right: 1em;
}

.putainde-Label-text {
  font-size: 0.875em;
  color: #444;
}

.putainde-TagFilters-toggle {
  display: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 0.85em;
  vertical-align: middle;
  color: #c33;
  cursor: pointer;
}

@media (max-width:54em) {
  .putainde-TagFilters-toggle {
    display: inline-block;
  }
}

.putainde-TagFilters-close {
  display: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #666;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.1em;
  line-height: 1;
}

@media (max-width:54em) {
  .putainde-TagFilters-close {
    display: inline-block;
  }
}

@media (max-width:54em) {
  .putainde-TagFilters {
    background: #fff;
    -webkit-box-shadow: 0.2em 0 0.4em rgba(0,0,0,0.1), 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0.2em 0 0.4em rgba(0,0,0,0.1), 1px 0 rgba(0,0,0,0.1);
    z-index: 4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -11em;
    width: 11em;
    display: none;
    overflow: scroll;
    -webkit-animation: 0.2s ease-in-out TagFilters;
    animation: 0.2s ease-in-out TagFilters;
    -webkit-overflow-scrolling: touch;
  }
}

body {
  -webkit-transition: 0.2s ease-in-out left;
  transition: 0.2s ease-in-out left;
}

@media (max-width:54em) {
  .putainde-Body--tagFiltersOpened .putainde-TagFilters {
    display: block;
    left: 0em;
  }
}

@-webkit-keyframes TagFilters {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes TagFilters {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes TagFilters {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.putainde-Footer {
  border-bottom: 1.5625rem solid #c33;
}

.putainde-Footer > .Grid {
  padding: 1.5625rem 0;
  border-top: 1px solid #ddd;
  margin-top: -1px;
}

@media (max-width:54em) {
  .putainde-Footer > .Grid > .Grid-cell {
    padding: 0.78125rem 0;
    text-align: center;
  }
}

.putainde-Footer a {
  color: #c33;
  text-decoration: none;
}

.putainde-Footer a:hover,
.putainde-Footer a:active {
  text-decoration: underline;
}

.putainde-Footer-text {
  font-size: 0.833rem;
  color: #666;
  margin: 0;
}

.putainde-Footer-text--small {
  font-size: 0.833em;
}

@media (min-width:54em) {
  .putainde-Footer-text--right {
    text-align: right;
  }
}

.putainde-Footer-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.833rem;
}

@media (min-width:54em) {
  .putainde-Footer-list {
    text-align: center;
  }
}

.putainde-Footer-list li {
  display: inline-block;
  color: #aaa;
}

.putainde-Footer-list a {
  display: inline-block;
  padding: 0 1.25em;
}

.js-AnimateLoad {
  visibility: hidden;
}

.js-Loaded {
  visibility: visible;
  -webkit-animation: 0.5s ease-in-out AuthorPicture;
  animation: 0.5s ease-in-out AuthorPicture;
}

@-webkit-keyframes AuthorPicture {
  0% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-180deg);
    transform: translateX(-100%) rotate(-180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

@-ms-keyframes AuthorPicture {
  0% {
    visibility: visible;
    opacity: 0;
    -ms-transform: translateX(-100%) rotate(-180deg);
    transform: translateX(-100%) rotate(-180deg);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

@keyframes AuthorPicture {
  0% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-180deg);
    transform: translateX(-100%) rotate(-180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}